* {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#man-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#man {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
