* {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* The Meatball Man's dimensions: */
/* 860 x 860 */
#man {
    cursor: pointer;
}

#error-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.error {
    padding: 16px 320px;
    position: relative;
}
