* {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#man-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* The Meatball Man's dimensions: */
/* 860 x 860 */
#man {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: auto;
}

#error {
    position: absolute;
    width: 100%;
    top: 45%;
    margin: auto;
    text-align: center;
}

#error > p {
    padding: 0 460px;
}
